/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #555555;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #34b7a7;
}

.about .content p {
    text-align: justify;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .photo {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .counters span {
    font-size: 48px;
    display: block;
    color: #34b7a7;
}

.facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}