/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
    width: 100%;
    height: 100vh;
    background: url("../images/home.png") top right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#home .container {
    padding-top: 70px;
    position: relative;
}

@media (max-width: 992px) {
    #home .container {
        padding-top: 58px;
    }
}

#home h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#home h2 {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 22px;
}

#home .btn-about {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #34b7a7;
}

#home .btn-about:hover {
    background: #3dc8b7;
}

@media (min-width: 1024px) {
    #home {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #home h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #home h2 {
        font-size: 18px;
        line-height: 24px;
    }
}